.keyboard {
  display: flex;
  flex-direction: row;
  position: relative;
  width: fit-content;
}

.key {
  width: 40px;
  height: 200px;
  margin: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.natural {
  background-color: white;
}
